
*{padding: 0;margin: 0;border: 0;}
*,*:before,*:after{-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner{padding:0;border:0;}
a,a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: inherit;}

.body {
    max-height: 100%;
    
    

}

.header {
    position: relative;
    
}

.wrapper {
    max-width: 1366px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    background: #F6F6F6;
}

.menu {
    display: flex;
    justify-content: space-between;
    margin-left: 110px;
    margin-right: 200px;
    z-index: 3;
    position: relative;
    
    
}

.menu ul {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.menu li {
    padding-right: 32px;
    font-family: Gilroy;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color: #242424;
}

.menu a {
    font-family: Gilroy;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color: #242424;
}

.header_title {
    position: relative;
    margin-left: 110px;
    height: 736px; /*!скорее всего не привильно*/
    z-index: 3;
    
}

.title_header {
    font-family: Gilroy;
    font-style: normal;
    font-weight: bold;
    font-size: 72px;
    line-height: 87px;
    display: flex;
    align-items: center;
    color: #242424;
}

.title_text_one {
    font-family: Gilroy;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 18px;
    color: #6B6B6B;
    
}

.title_text_two {
    font-family: Gilroy;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 140%;
    color: #474747;
    margin-top: 12px;
}

.title_text_three {
    font-family: Gilroy;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    color: #C78100;
    margin-top: 43px;
}

.title_button {
    background: linear-gradient(180deg, #FFECB5 0%, #FFE69F 0.01%, #FFD45A 100%);
    box-shadow: 3px 3px 13px rgba(0, 0, 0, 0.25);
    border-radius: 58px;


    font-family: Gilroy;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 40px;
    color: #242424;
    font-family: Gilroy;

    height: 42px;
    width: 183px;
    

    align-items: center;
    text-align: center;

    margin-top: 44px;

    

}

.img_header { /*! возможно норм*/
    position: absolute;
    width: 718px;
    height: 713px;
    left: 538px;
    top: 0px;
    background: url(/html_css/animals/img/dog\ 1.png);
    border-radius: 0px 0px 8px 8px;
    opacity: 1;
    z-index: 1;
}

.kind_hearts {
    height: 650px;
    background: #FFFFFF;
    display: flex;
    flex-direction: row;
}

.kind_hearts_img {
    flex: 0 0 50%;
}

.kind_hearts_title {
    margin-top: 128px;
}

.kind_hearts_title p {
    font-family: Gilroy;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 140%;
    color: #242424;
    margin-bottom: 20px;
}

.kind_title_header {
    font-family: Gilroy;
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 120%;
    align-items: center;
    text-align: center;
    color: #C78100;
    margin-bottom: 28px;
}

.how_help {
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    height: 470px;
    width: 100%;
    background: #F6F6F6;
}

.how_help_header {
    font-family: Gilroy;
    font-style: normal;
    font-weight: 300;
    font-size: 28px;
    line-height: 24px;
    
    align-items: center;
    text-align: center;
    color: #242424;
    margin-top: 80px;
    margin-bottom: 47px;
}

.how_help_items {
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 118px 86px 118px;
    

}

.how_help_items div {
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    width: 166px;
    height: 240px; 
    text-align: center;
    font-family: Gilroy;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
}

.how_help_items p {
    margin-top: 24px;
}


