@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{padding: 0;margin: 0;border: 0;}
*,*:before,*:after{-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;font-family: Gilroy;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner{padding:0;border:0;}
a,a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: inherit;}


.wrapper {
    height: 634px;
    width: 582px;
    border-radius: 5px;
    background: #FFFFFF;
    box-shadow: 0px 0px 22px rgba(161, 161, 161, 0.25);
    border-radius: 5px;
    margin: 30px auto;
    
}

.body {
    height: 569px;
    width: 502px;
    margin: 30px 40px 30px 40px;
    position: absolute;
}

.header {
    width: 388px;
    height: 42px;
    left: 10px;
}
.header h3 {
    /* font-family: Gilroy; */
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 24px;
    /* or 86% */

    display: flex;
    align-items: center;
    margin: 0 0 0 0;
    color: #B3B3B3;
}

.line {
    border-top: 1px solid #EEBF3A;
    transform: rotate(180deg);
    height: 1px;
}

.header_form {
    /* font-family: Gilroy; */
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 143px;
    display: flex;
    align-items: center;
    color: #242424;
    width: 73px;
    height: 32px;
    margin: 16px 0 0 0;
}

.text {
    width: 100%;
    height: 42px;
}

.text p {
    /* font-family: Gilroy; */
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 140%;
    display: flex;
    align-items: center;
    color: #6B6B6B;
    margin: 4px 0 0 0;
}

.first_input {
    height: 40px;
    width: 100%;
    background: #FFFFFF;
    border: 1px solid #D6D6D6;
    box-sizing: border-box;
    border-radius: 2px;
    
    font-family: Gilroy;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #6B6B6B;
    opacity: 0.7;
    padding: 10px 17px 10px 16px;

}
#name {
    margin: 32px 0 16px 0;

}

.for_input {
    margin: 2px 22px 16px;
    /* font-family: Gilroy; */
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 140%;
    display: flex;
    align-items: center;
    color: #B3B3B3;
}
/* 
.header_time {
    margin: 22px 0 16px 0;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    display: flex;
    align-items: center;
    color: #242424;
}

#date {
    Width: 267px;
    Height: 40px;
    margin: 0 4px 0 0;
}

#time {
    width: 170px;
    height: 40px;
}

.plus_area {
    display: flex;
    margin: 8px 0 18px 0;
    align-items: center;
}

.plus_area p {
    margin: 0 12px 0 0;
}

.plus {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 4px;
    width: 20px;
    height: 16px;
    background: #18A0FB;
    color: #fff;
    font-size: 20px;
    border-radius: 50%;
    text-decoration: none;
    margin: 0 12px 0 0;
}

.header_add_data {
    font-family: Gilroy;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    display: flex;
    align-items: center;
    color: #6B6B6B;
} */

.help_text {
    /* font-family: Gilroy; */
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    display: flex;
    align-items: center;
    color: #242424;
    margin: 32px 0 16px 0;
}

label {
    margin: 0px 0 0px 9px;

    /* font-family: Gilroy; */
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 140%;
    
    color: #6B6B6B;
}

input[type="checkbox" i] {
    margin: 0px 0 0 0;
    width: 16px;
    height: 16px;
    left: calc(50% - 16px/2);
    top: calc(50% - 16px/2);
    background: #FFFFFF;
    border: 1px solid #B3B3B3;
    box-sizing: border-box;
    border-radius: 2px;
}

.radio_input:checked {
    background: red;
    
}

.radio_input:checked + .label_checked {
    font-family: Gilroy;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    display: flex;
    align-items: center;
    color: #242424;
}

.same_class {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 12px;
}

#delivery_items {
    position: relative;
    left: 0;
    top: -8px;
}

textarea {
    height: 76px;
    width: 100%;
    background: #FFFFFF;
    border: 1px solid #D6D6D6;
    box-sizing: border-box;
    border-radius: 2px;
    resize: none;
    padding: 10px 17px 0 16px;
    margin: 32px 0 32px 0;
}

.send {
    height: 42px;
    width: 234px;
    background: linear-gradient(180deg, #FFDE89 0%, #FFCB38 100%);
    box-shadow: 7px 7px 16px #E3E3E3, -3px -4px 8px rgba(255, 255, 255, 0.9), inset 13px 22px 8px rgba(0, 0, 0, 0.02);
    border-radius: 58px;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 40px;
    /* display: flex; */
    align-items: center;
    color: #242424;
    /* border-radius: 6px; */
    /* background: #18A0FB; */
    /* border-color: #18A0FB; */
    /* font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 21px;
    align-items: center;
    text-align: center;
    letter-spacing: -0.015em;
    color: #FFFFFF; */

    /* border-width: 0px;
    border-style: none; */

}

.cancel {
    height: 42px;
    width: 143px;
    background: #F6F6F6;
    box-shadow: 7px 7px 16px #E3E3E3, -4px -4px 8px rgba(255, 255, 255, 0.7), inset 13px 22px 8px rgba(0, 0, 0, 0.02);
    border-radius: 58px;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 40px;
    align-items: center;
    color: #242424;
    /* border-radius: 6px;
    background: #FFFFFF;
    border-color: #18A0FB;
    border-radius: 6px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    align-items: center;
    text-align: center;
    letter-spacing: -0.015em;
    color: #18A0FB;
    border: 1px solid #18A0FB; */
    
}
.button {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}