
html {
    font-family: Gilroy, Arial;
    font-style: normal;
}

.body {
    max-height: 100%;
}

.header {
    position: relative;
}

.wrapper {
    max-width: 1920px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    background: #F6F6F6;
}

.menu {
    display: flex;
    justify-content: space-between;
    margin-left: 110px;
    margin-right: 190px;
    padding-top: 25px;
    z-index: 3;
    position: relative;
}

.burger-icon {
    display: none;
}


.menu ul {
    display: flex;
    align-items: center;
}

.menu li {
    padding-right: 32px;
}

@keyframes move-nav-social {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.menu-nav_social {
    animation: 3s move-nav-social;
}

.menu li:last-child {
    padding-right: 0;
}

.menu-nav_social li:first-child {
    padding-right: 28px;
}

.menu a {
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color: #242424;
}

@media (max-width: 1023px) {
    .header .header_title {
        margin-top: 0;
    }
    .nav-mobile-bg {
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        position: fixed;
        z-index: 9;
    }
    .burger-icon {
        display: flex;
        justify-content: space-between;
        padding-top: 34px;
        padding-left: 115px;
        padding-bottom: 26px;
        padding-right: 157px;
    }
    .mobile-social-header-links {
        display: flex;
    }
    .mobile-social-header-links .btn-social--yellow {
        padding-right: 28px;
    }
    .mobile-social-header-links--hide {
        display: none;
    }
    .burger-icon--bg {
        background-color: #FFC41E;
    }
    .burger-icon-click {
        cursor: pointer;
        transition: all 0.4s;
        width: 30px;
        height: 20px;
        position: relative;
    }
    .burger__line {
        display: block;
        width: 100%;
        height: 3px;
        background-color: #242424;
        position: absolute;
        left: 0;
        transition: 0.3s all linear;
    }
    .burger__line-first {
        top: 0;
    }
    .burger__line-second, .burger__line-third {
        top: 50%;
        transform: translateY(-50%);
    }
    .burger__line-fourth {
        bottom: 0;
    }
    .burger-icon-click--active .burger__line-first, .burger-icon-click--active .burger__line-fourth {
        opacity: 0;
    }
    .burger-icon-click--active .burger__line-second {
        transform: translateY(-50%) rotate(45deg)
    }
    .burger-icon-click--active .burger__line-third {
        transform: translateY(-50%) rotate(-45deg)
    }
    .menu-nav_social li {
        display: none;
    }
    .menu {
        display: block;
        margin: 0;
        padding: 0;
        z-index: 10;
        top: 0;
        left: 0;
        width: 100%;
    }
    .menu ul {
        display: block;
        text-align: center;
        background-color: #FFFFFF;
    }
    .menu li {
        padding: 0;
        padding-top: 25px;
        padding-bottom: 24px;
        margin: 0 110px 0 110px;
        border-bottom: 1px solid rgba(238, 191, 58, 0.5);;
    }
    .menu .nav-link-first {
        padding-top: 35px;
    }
    .menu .nav-link-last {
        padding-bottom: 45px;
        border: none;
    }
    .mobile-menu-view {
        display: none;
    }
    .mobile-menu-show {
        display: block;
    }

}

@keyframes move-text-header {
    from {
        transform: translateX(-2000px);
        opacity: 0.4;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

.header_title {
    position: relative;
    margin-left: 110px;
    margin-top: 60px;
    height: 736px; /*!скорее всего не привильно*/
    z-index: 3;
    animation: 3s move-text-header;
}

.title_header {
    font-weight: bold;
    font-size: 72px;
    line-height: 87px;
    display: flex;
    align-items: center;
    color: #242424;
}

.title_text_one {
    font-weight: 300;
    font-size: 16px;
    line-height: 18px;
    color: #6B6B6B;
}

.title_text_two {
    font-weight: 600;
    font-size: 16px;
    line-height: 140%;
    color: #474747;
    margin-top: 12px;
    display: block;
    max-width: 660px;
}

.title_text_three {
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    color: #C78100;
    margin-top: 43px;
}

.title_button {
    height: 42px;
    width: 183px;
    margin-top: 44px;
}

.mobile-header-btn {
    display: none;
}

.mobile-title_text_three {
    display: none;
}

@keyframes move-dog {
    from {
        transform: translateX(500px);
        opacity: 0.4;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

.img_header { /*! возможно норм*/
    position: absolute;
    width: 718px;
    height: 713px;
    right: 110px;
    top: 0px;
    background: url(../images/dog_1.png);
    border-radius: 0px 0px 8px 8px;
    opacity: 1;
    z-index: 1;
    animation: 1.5s move-dog;
}

@keyframes move-cat {
    from {
        transform: translateY(300px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.img_header_cat {
    position: absolute;
    z-index: 8;
    right: 276px;
    top: 470px;
    animation: 1.5s move-cat;
}

@keyframes move-bg_text {
    from {
        transform: translateY(2000px);
        opacity: 0.4;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.img_header_text {
    position: absolute;
    z-index: 1;
    left: 2px;
    top: 374px;
    animation: 1.5s move-bg_text;
}

.kind_hearts {
    background: #FFFFFF;
    display: flex;
    height: 615px;
}

.kind_hearts_img {
    flex: 0 0 50%;
    margin-top: 50px;
    position: relative;
}

.kind_hearts_img__rectangle {
    width: 55%;
    height: 521px;
    background: #FFC41E;
    margin-bottom: 74px;
    position: absolute;
}

.kind_hearts_img__circle-big {
    position: absolute;
    margin-top: 54px;
    width: 521px;
    height: 521px;
    margin-top: 0;
    border: 34px solid #FFC41E;
    border-radius: 50%;
    left: 55%;
    transform: translateX(-50%);
}

.kind_hearts_img__circle-small {
    width: 245px;
    height: 245px;
    top: 300px;
    left: 60%;
    border: 9px solid #FFC41E;
    border-radius: 50%;
    position: absolute;
    z-index: 3;
}

.kind_hearts_title {
    margin-top: 128px;
    padding-right: 20px;
}

.kind_hearts_title p {
    font-weight: normal;
    font-size: 16px;
    line-height: 140%;
    color: #242424;
    margin-bottom: 20px;
    padding-right: 20px;
}

.kind_title_header {
    font-weight: 600;
    font-size: 28px;
    line-height: 120%;
    align-items: center;
    text-align: center;
    color: #C78100;
    margin-bottom: 28px;
}

.how_help {
    display: flex;
    flex-direction: column;
    width: 100%;
    background: #F6F6F6;
}

.how_help_header {
    font-weight: 300;
    font-size: 28px;
    line-height: 24px;
    align-items: center;
    text-align: center;
    color: #242424;
    margin-top: 80px;
    margin-bottom: 47px;
}

@keyframes move-how-help {
    from {
        transform: translateY(400px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.how_help_items { /*! отступы между значками не как в шаблоне */
    display: flex;
    justify-content: space-evenly;
    flex-wrap:wrap;
    margin-bottom: 86px;
    padding: 0 30px 0 30px;
    animation: 2s move-how-help;
    // animation-duration: 10s;
    // animation-delay: 10s;
}

.how_help_items div {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 166px;
    max-height: 240px; 
    text-align: center;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    margin: 0 30px 0 30px;
}

.how_help_items p {
    margin-top: 24px;
}

.image_from_section {
    text-align: center; /*отцентрировало картинку в блоке*/
}

.image_from_section img { /*! нужен было именно так сделать, почему не знаю!!!!*/
    vertical-align: middle
}

.what_can_do ul {
    display: flex;
    margin: 70px 207px 72px 287px;
}

.what_can_do li:first-child {
    margin-right: 97px;
}

.what_can_do h3 {
    font-weight: 600;
    font-size: 28px;
    line-height: 24px;
    color: #242424;
    margin-bottom: 20px;
}

.what_can_do p {
    font-weight: normal;
    font-size: 16px;
    line-height: 140%;
    color: #242424;
}

.ward_animals h3 {
    font-weight: 300;
    font-size: 28px;
    line-height: 24px;
    text-align: center;
    color: #242424;
}
.ward-animals__see-all {
    display: flex;
    justify-content: center;
    margin-top: 24px;
    margin-bottom: 65px;
}

.ward-animals__see-all a {
    font-weight: 500;
    font-size: 20px;
    line-height: 40px;
    display: flex;
    text-decoration-line: underline;
    color: #AD7F00;
    margin-right: 16px;
}

.ward_animals__cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 20px;
}

.ward_animals__card:nth-child(1) { /*! класс именно тех элементов, среди который выбираешь*/
    opacity: 0.4;
}

.ward_animals__card:nth-child(3) {
    opacity: 0.4;
}


.ward_animals__card {
    height: 555px;
    flex: 0 1 368px;
    background: #F6F6F6;
    box-shadow: 6px 6px 16px rgba(163, 163, 163, 0.6), -8px -8px 16px #FFFFFF, inset 4px 4px 16px rgba(203, 203, 203, 0.25);
    border-radius: 5px;
    margin-right: 21px;
    display: flex;
    flex-direction: column;
    padding: 16px 16px 7px 17px;
}

.ward_animals__card h4 {
    font-weight: 500;
    font-size: 22px;
    line-height: 20px;
    align-items: center;
    text-align: center;
    color: #242424;
    margin-top: 8px;
}

.animals-card__text {
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #6B6B6B;
    margin-bottom: 6px;
    margin-top: 18px;
}

.animals-card__text-bold {
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #242424;
    flex: 1 1 auto; /*! растянули блок к низу*/
    overflow: hidden;
} 

.ward_animals__card a {
    font-weight: 500;
    font-size: 20px;
    line-height: 40px;
    display: flex;
    align-items: center;
    text-decoration-line: underline;
    color: #AD7F00;
}

.warm_animals__nav {
    display: flex;
    justify-content: space-between;
    margin: 15px 256px 30px 256px;
    text-align: center;
    align-items: center;
}

.animals-nav_links {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.animals-slide {
    width: 77px;
    height: 77px;
    background: #F6F6F6;
    border: 1px solid rgba(255, 255, 255, 0.5);
    box-sizing: border-box;
    box-shadow: 6px 6px 16px rgba(224, 224, 224, 0.6), -6px -6px 16px rgba(255, 255, 255, 0.77);
    border-radius: 50%;
    &:hover {
        background: #FBFBFB;
        box-shadow: 6px 6px 16px rgba(224, 224, 224, 0.6), -6px -6px 16px rgba(255, 255, 255, 0.77);
    }
    &:active {
        background: linear-gradient(136.02deg, #FDFDFD 0%, #EAEAEA 72.75%);
        border: 1px solid rgba(255, 255, 255, 0.5);
        box-sizing: border-box;
        box-shadow: -6px -6px 16px rgba(224, 224, 224, 0.6), 6px 6px 16px rgba(255, 255, 255, 0.77);
    }

}

.send-btn--go-home {
    height: 42px;
    width: 209px;
    margin-bottom: 16px;
}

.send-btn--overexposure {
    height: 42px;
    width: 298px;
}

.ward_animals__socials ul {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    padding-bottom: 71px;
}

.ward_animals__socials li:nth-child(1) {
    margin-right: 38px;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    color: #000000;
    text-align: left;
    width: 583px;
    height: 48px;
}

.ward_animals__socials li:nth-child(2) {
    margin-right: 28px;
}


.finance-help {
    background: #FFFFFF;
    padding-top: 45px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.finance-help>h3 {
    font-weight: 600;
    font-size: 28px;
    line-height: 24px;
    text-align: center;
    color: #242424;
    padding: 58px 0 24px 0;
}

.finance-help>p {
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    max-width: 758px;
    color: #6B6B6B;
    margin-left: auto; /*! отцентрировать блок помогло это*/   
    margin-right: auto;
}

.finance-help ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 40px 50px 45px 50px;
}

.finance-help ul>li>h3 {
    font-weight: 300;
    font-size: 28px;
    line-height: 24px;
    color: #242424;
    margin-bottom: 24px;
}

.finance-help ul>li>p {
    font-weight: normal;
    font-size: 16px;
    line-height: 200%; /* было 140 */
    color: #242424;
    margin-bottom: 24px;
}

.finance-help ul>li>a {
    font-weight: 500;
    font-size: 20px;
    line-height: 40px;
    text-decoration-line: underline;
    color: #AD7F00;
}

.financial-link-btn {
    width: 234px;
    height: 42px;
}

.necessary-things__conteiner {
    max-width: 680px;
    margin: 53px auto 78px;
}

.necessary-things__conteiner h3 {
    font-weight: 600;
    font-size: 28px;
    line-height: 24px;
    color: #242424;
    margin-bottom: 24px;

}

.necessary-things__conteiner p {
    margin-bottom: 40px;
    font-weight: normal;
    font-size: 16px;
    line-height: 140%;
    color: #242424;
}

.necessary-things__conteiner a {
    font-weight: 500;
    font-size: 20px;
    line-height: 40px;
    text-decoration-line: underline;
    color: #AD7F00;
}

.auto-help__conteiner {
    max-width: 680px;
    margin: 45px auto 82px;
}

.auto-help__conteiner h3 {
    font-weight: 600;
    font-size: 28px;
    line-height: 24px;
    color: #242424;
    margin-bottom: 24px;
}

.auto-help__conteiner p {
    font-weight: normal;
    font-size: 16px;
    line-height: 140%;
    color: #242424;
    margin-bottom: 24px;
}

.volunteering__conteiner {
    display: flex;
    flex-direction: row;
    height: 650px;
}

.volunteering_img {
    flex: 0 0 50%;
}
 
.volunteering__conteiner h3 {
    font-weight: 600;
    font-size: 28px;
    line-height: 24px;
    color: #242424;
    margin-top: 112px;
    margin-bottom: 24px;
}

.volunteering__conteiner p {
    font-weight: normal;
    font-size: 16px;
    line-height: 140%;
    color: #242424;
    display: block;
    margin-right: 207px;
}

.send-btn--volunteering-title {
    margin: 24px 0 162px 0;
}

.news {
    background: #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

@keyframes move-news {
    from {
        transform: translateX(-2000px);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

.news__block { /*! вроде оптимальный вариант центрирования*/
    display: flex;
    max-width: 778px;
    margin: 0 auto;
    padding-top: 40px;
    align-items: center; /*! центрирование по вертикали*/
    animation: 2s move-news;
}

.news_row {
    display: flex;
    flex-direction: column;
    max-width: 778px;
    margin: 0 auto;
    padding-bottom: 54px;
}

.news h3 {
    font-weight: 600;
    font-size: 28px;
    line-height: 24px;
    color: #242424;
    margin: 54px 0 0 0;
}

.news a {
    text-align: left;
    font-weight: 500;
    font-size: 20px;
    line-height: 40px;
    text-decoration-line: underline;
    color: #AD7F00;
    margin-top: 24px;
}

.news__block p {
    font-weight: normal;
    font-size: 16px;
    line-height: 140%;
    color: #242424;
    text-align: left;
    margin-left: 35px;
    padding-bottom: 5px;
}

.about_us {
    max-width: 680px;
    margin: 0 auto;
}

.about_us h3 {
    font-weight: 600;
    font-size: 28px;
    line-height: 24px;
    text-align: center;
    color: #242424;
    margin: 58px 0 24px 0;
}

.about_us__text-about {
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: #242424;

}

.about_us__text-title {
    margin: 24px 0;
    font-weight: normal;
    font-size: 22px;
    line-height: 26px;
    color: #242424;
}

.about_us__text-contacts {
    font-weight: normal;
    font-size: 16px;
    line-height: 140%;
    color: #242424;
    margin-bottom: 40px;
}

.about_us__text-social {
    font-weight: normal;
    font-size: 16px;
    line-height: 140%;
    color: #6B6B6B;
}


.about_us ul {
    display: flex;
}

.about_us__social-link li:first-child {
    margin-right: 20px;
}

.thanks-for-help {
    position: relative;
    margin-top: 40px;
}

.thanks-for-help_text {
    font-weight: bold;
    font-size: 64px;
    line-height: 77px;
    color: #FFFFFF;
    position: absolute;
    left: 8%;
    top: 50%;
    transform: translateY(-50%);
    width: 346px;
    height: 154px;
}

.thanks-for-help_text img {
    position: absolute;
    width: 70.73px;
    height: 70.73px;
    left: 350px;
    top: 85px;
    transform: rotate(18.79deg);
}

.thanks-for-help_bg {
    width: 100%;
}

.thanks-for-help__img-rectangle {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    margin-top: 0;
    width: 30%;
    background: #322D1E;
    mix-blend-mode: soft-light;
        
}

.thanks-for-help__img-circle {
    left: 100%;
    max-height: 521px;
    margin-top: 0;
    border: none;
    border-radius: 50%;
    background: #322D1E;

}

.footer-nav {
    display: flex;
    justify-content: space-evenly;
}

.footer-nav ul {
    display: flex;
    margin: 40px 0 24px 0;
}

.footer-nav li {
    padding-right: 40px;
}

.footer-nav__links a {
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    text-decoration-line: underline; 
    color: #474747;
}

.footer-nav__links-about a {
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    text-decoration-line: underline;
    color: #242424;
}

.footer-nav__links li:nth-child(5) {
    padding-right: 0;
}

.footer p {
    text-align: center;
    margin-bottom: 16px;
    font-weight: normal;
    font-size: 12px;
    line-height: 140%;
    color: #B3B3B3;
}

.image_from_section:before,
.image_from_section:after { 
    /* Обязательно указываем пустое свойство content, 
    ** иначе псевдоэлементы не появятся на сайте */
    content: "";
    /* Указываем что наши линии будут строчно-блочные и 
    ** выравнивание по высоте - по центру */
    display: inline-block;
    /*vertical-align: middle;*/ /*! почемуто работает и без него */
        /* Задаем ширину 100% и выбираем высоту линии, 
    ** в нашем примере она равна 4 пикселям */
    width: 100%;
    height: 1px;
    /* Добавляем цвет для линии */
    background-color: #EEBF3A;
    /* border: 1px solid  #EEBF3A; */
    transform: rotate(180deg);
    /* Добавляем пседоэлемантам возможность изменить 
    ** позицию линии, для создания отступов от текста */
    position: relative;
}
.image_from_section:before {
    /* Смещаем левую линию на 100% влево, чтобы линия 
    ** встала рядом с текстом слева */
    margin-left: -100%;
    /*margin-top: 70px;*/ /*! ставил, т.к. с vertical-align: middle не работало центрирование*/
    /* Указываем в пикселях отступ линии от текста заголовка */
    left: -34px;
}
.image_from_section:after {
    /* Смещаем правую линию на 100% вправо, чтобы 
    ** линия встала рядом с текстом справа */
    margin-right: -100%;
    /* margin-top: 70px; */
        /* Указываем в пикселях отступ линии от текста заголовка */
    right: -34px;
}

