
@media (max-width: 1023px) {
    .header .header_title {
        margin-top: 0;
    }
    .nav-mobile-bg {
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        position: fixed;
        z-index: 9;
    }
    .burger-icon {
        display: flex;
        justify-content: space-between;
        padding-top: 34px;
        padding-left: 115px;
        padding-bottom: 26px;
        padding-right: 157px;
    }
    .mobile-social-header-links {
        display: flex;
        animation: 3s move-nav-social;
    }
    .mobile-social-header-links .btn-social--yellow {
        padding-right: 28px;
    }
    .mobile-social-header-links--hide {
        display: none;
    }
    .burger-icon--bg {
        background-color: #FFC41E;
    }
    .burger-icon-click {
        cursor: pointer;
        transition: all 0.4s;
        width: 30px;
        height: 20px;
        position: relative;
    }
    .burger__line {
        display: block;
        width: 100%;
        height: 3px;
        background-color: #242424;
        position: absolute;
        left: 0;
        transition: 0.3s all linear;
    }
    .burger__line-first {
        top: 0;
    }
    .burger__line-second, .burger__line-third {
        top: 50%;
        transform: translateY(-50%);
    }
    .burger__line-fourth {
        bottom: 0;
    }
    .burger-icon-click--active .burger__line-first, .burger-icon-click--active .burger__line-fourth {
        opacity: 0;
    }
    .burger-icon-click--active .burger__line-second {
        transform: translateY(-50%) rotate(45deg)
    }
    .burger-icon-click--active .burger__line-third {
        transform: translateY(-50%) rotate(-45deg)
    }
    .menu-nav_social li {
        display: none;
    }
    .menu {
        display: block;
        margin: 0;
        padding: 0;
        z-index: 10;
        top: 0;
        left: 0;
        width: 100%;
    }
    .menu ul {
        display: block;
        text-align: center;
        background-color: #FFFFFF;
    }
    .menu li {
        padding: 0;
        padding-top: 25px;
        padding-bottom: 24px;
        margin: 0 110px 0 110px;
        border-bottom: 1px solid rgba(238, 191, 58, 0.5);;
    }
    .menu .nav-link-first {
        padding-top: 35px;
    }
    .menu .nav-link-last {
        padding-bottom: 45px;
        border: none;
    }
    .mobile-menu-view {
        display: none;
    }
    .mobile-menu-show {
        display: block;
    }

}