@media (min-width: 1024px) and (max-width: 1269px) {
    /* .wrapper {
        max-width: 1269px;
    } */
    .header_title {
        height: 511px;
        margin-top: 33px;
    }
    .title_header {
        font-size: 64px;
        line-height: 77px;
    }
    .img_header {
        width: 504px;
        height: 564px;
        background-size: cover;
        background-position: center;
    }
    .title_text_one,
    .title_text_two {
        font-size: 14px;
    }
    .title_text_two {
        max-width: 460px;
    }
    .title_text_three {
        font-size: 20px;
    }
    .img_header_cat {
        top: 374px;
        right: 217px;
    }
    .img_header_cat img{
        width: 344px;
        height: 326px;
        object-fit: cover;
    }
    .img_header_text {
        top: 310px;
    }
    .img_header_text img {
        width: 571px;
    }
    .kind_hearts {
        height: 500px;
    }
    .kind_hearts_img {
        flex: 0 0 510px;
    }
    .kind_hearts_img__rectangle {
        margin-top: 36px;
        width: 267px;
        height: 362px;
    }
    .kind_hearts_img__circle-big {
        width: 362px;
        height: 362px;
        border: 20px solid #FFC41E;
        top: 36px;
    }
    .kind_hearts_img__circle-small {
        width: 170px;
        height: 170px;
        /* margin-top: -156px;
        margin-left: 299px; */
        border: 6px solid #FFC41E;
        top: 250px;
        left: 300px;
    }
    .kind_hearts_title {
        margin-top: 75px;
        padding-right: 100px;
    }
    .kind_title_header {
        padding-left: 45px;
        padding-right: 45px;
        font-size: 24px;
    }
    .how_help_items div {
        margin: 0 10px 0 10px;
        font-size: 14px;
        
    }
    .how_help_items .how-help__btn-img a {
        width: 100px;
        height: 100px;
    }
    .what_can_do ul {
        margin: 61px 0 48px 0;
        justify-content: center;
        align-items: center;
        text-align: left;

    }
    .what_can_do li {
        display: block;
        max-width: 275px;
        
    }
    .what_can_do li:first-child {
        margin-right: 69px;
    }
    .what_can_do h3 {
        font-size: 24px;
    }
    .image_from_section img {
        width: 100px;
        height: 100px;
    }
    .all-ward-animals__none-big-size {
        display: none;
    }
    .volunteering__conteiner h3 {
        margin-top: 50px;
        font-size: 24px;
    }
    .thanks-for-help__img-rectangle {
        /* position: absolute;
        top: 50%;
        transform: translateY(-50%);*/
        margin-top: 0;
    }
    .thanks-for-help__img-circle {
        border: none;
        top: 0;
    }
    .thanks-for-help_text {
        /* top: 227px;
        left: 100px; */
        font-size: 48px;
        line-height: 58px;
        width: 250px;
    }
    .thanks-for-help_text img {
        width: 60px;
        height: 60px;
        left: 250px;
        top: 65px;
    }
    .footer-nav {
        flex-direction: column;
    }
    .footer-nav .footer-nav__links {
        justify-content: space-between;
        margin: 20px 110px 0 110px;
    }
    .footer-nav__links li {
        padding: 0;
        text-decoration: underline;
    }
    .footer-nav .footer-nav__links-about {
        justify-content: left;
        margin: 24px 110px 0 110px;
    }
}