@media (min-width: 1441px) {
    .header {
        padding-left: 10%;
    }
    .img_header_text {
        left: 10%;
    }
    .kind_hearts_title {
        padding-right: 20%;
    }
    .img_header {
        right: 15%;
    }
    .img_header_cat {
        right: 25%;
    }
    .menu {
        margin-right: 20%;
    }
    .all-ward-animals__none-big-size {
        display: none;
    }

    .volunteering__conteiner {
        padding-bottom: 80px;
    }
}