

.modal-windows__about-pet {
    /* display: block; */
}

.about-pet {
    &__wrapper {
        max-width: 850px;
        margin-top: 20px;
        max-height: 100%;
        overflow: scroll;
    }

    &__header {
        font-weight: 500;
        font-size: 28px;
        line-height: 24px;
        color: #242424;
        padding-left: 45%;
    }

    &__under-header-line {
        border-color: #D6D6D6;
        opacity: 0.5;
    }

    &__text {
        max-width: 494px;
        margin: 0 auto;
        padding-top: 16px;
    }

    &__text p {
        font-weight: 500;
        font-size: 14px;
        line-height: 20px;
        color: #242424;
        display: block;
        padding-bottom: 15px;

        &:first-child {
            color: #6B6B6B;
        }

    }
    &__foto {
        display: grid;
        grid-template: repeat(auto-fit, 262px) / repeat(auto-fit, 236px);
        justify-content: center;
        grid-gap: 20px 20px;
        margin-bottom: 24px;
    }
    
}

.about-pet--buttons {
    justify-content: center;
}

.home-btn--about-pet {
    width: 209px;
    margin-right: 10px;
}

.overexposure-btn--about-pet {
    width: 298px;
    margin-left: 10px;
}

.about-pet__open-btn {
    cursor: pointer;
}
