

.modal-windows__overexposure {
    /* display: block; */
}

.modal-windows__home-contacts span {
    display: block;
    max-width: 440px;
    margin-top: 16px;
    font-weight: normal;
    font-size: 16px;
    line-height: 140%;
    color: #B3B3B3;
}
